production:
  subdomain:  campfire_subdomain
  token:      campfire_token
  room_id:    campfire_room_id

development:
  subdomain:  campfire_subdomain
  token:      campfire_token
  room_id:    campfire_room_id